
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .loading-animation {
    background: #fff url("../../../public/Infinity.gif") no-repeat center;
    width: 200%;
    height: 50vh;
}